@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Group 4 - Sprint 0</h1>
    <p>Capstone Project – Database Connection Demo</p>

    <a class="btn btn-primary" href="/Users">View Users from Database</a>
</div>
